body {
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    font-family: "Hero";
    height: 100px;
    background: #1F2937;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-links {
    display: flex;
    margin-left: auto;
    padding-right: 18px;
    gap: 20px;
    font-size: 18px;
    color: #E5E7Eb;
}

.logo {
    display: flex;
    padding-left: 50px;   
    color: #F9FAF8;
    font-size: 24px;
}


ul {
    list-style-type: none;
}

.title-container {
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-content: center;
}

.title-content {
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-bottom: 80px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 450px;
}

.subtext {
    font-size: 18px;
    color: #E5E7Eb;
    max-width: 450px;
}

.button-initial {
    background: #3882F6;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    margin-top: 12px;
    padding: 6px 24px;
    white-space: nowrap;
    width: min-content;
    cursor: pointer;
}

.image-text {
    font-family: "Roboto";
    text-align: center;
    font-size: 24px;
}
.title-image {
    flex: 1;
    background: grey;
    margin-left: 50px;
    min-height: 50px;
    min-width: 150px;
    max-height: 200px;
    max-width: 500px;
}

.main-title{
    display: flex;
    justify-content: center;
    margin: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.main-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 100px;
    margin-bottom: 80px;
}

.info-image {
    border: 3px solid;
    border-color: #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
}
.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 150px;
    text-align: center;
    align-items: center;
}

.quote-section {
    background: #E5E7Eb;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    flex-wrap: wrap;
    max-width: 825px;
}

.quote-arthur{
    font-weight: bold;
    font-size: 28px;
    color: black;
    text-align: end;
}

.action-section {
    margin: 50px auto;
    padding: 40px 80px;
    background: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}
.action-container {
    color: white;
    max-width: 1000px;
}

.action-text {
    display: flex;
    flex-direction: column;
}
.action-title {
    font-size: 24px;
}

.action-body {
    font-size: 16px;
}

.action-button {
    border: 2px solid white;
    border-radius: 10px;
    white-space: nowrap;
    padding: 5px 20px;
    color: white;
    background: #3882F6;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F2937;
    padding: 20px;
    font-size: 14px;
    color: white;
}